* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  min-height: 80vh;
  color: black;
  font-family: "Poppins", sans-serif;
}

table th {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

table td {
  text-align: left;
  font-family: "Poppins", sans-serif;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.fullscreen {
  height: 100vh;
}

.link-style {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  transition: all 0.3s ease;
}

.link-style:hover {
  background-color: #0056b3;
}

/* LOADER */

.spinner {
  width: 3em;
  height: 3em;
  cursor: not-allowed;
  border-radius: 50%;
  border: 2px solid #444;
  box-shadow: -10px -10px 10px #6359f8, 0px -10px 10px 0px #9c32e2,
    10px -10px 10px #f36896, 10px 0 10px #ff0b0b, 10px 10px 10px 0px#ff5500,
    0 10px 10px 0px #ff9500, -10px 10px 10px 0px #ffb700;
  animation: rot55 0.7s linear infinite;
}

.spinnerin {
  border: 2px solid #444;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

.modal-title {
  text-align: center;
  width: 100%;
}

/* .circle {
  width: 10%; 
  height: 10%; 
  max-width: 60px; 
  max-height: 60px; 
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  transform: rotate(42deg);
} */

/* test Circle */
.circle {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  rotate: 42deg;
}

.rightSide {
  position: absolute;
  width: 50%;
  height: 50%;
  right: 0;
  background-color: lightgray;
  border: 2px solid black;
  z-index: 10;
}

.leftSide {
  background-color: lightgray;
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  border: 2px solid black;
  z-index: 10;
}
.bottom {
  background-color: lightgray;
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0;
  right: 0;
  border: 2px solid black;
  z-index: 10;
}

.top {
  background-color: lightgray;
  position: absolute;
  width: 50%;
  height: 50%;
  border: 2px solid black;
  z-index: 10;
}

.donut-hole {
  position: absolute;
  background-color: lightgray;
  border: 2px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* Adjust size as needed */
  width: 40%; /* Adjust as needed */
  height: 40%; /* Adjust as needed */
  border-radius: 50%;
  z-index: 80;
}

.box {
  border: 1px solid black;
  /* padding: 10px; */
  /* margin-right: 10px;
  margin-bottom: 10px; */
}

input {
  width: 100%;
}

/* .separator {
  border-left: 2px solid black;
  border-right: 2px solid black;
  height: 100%;
  
} */

.vertical-line-container {
  display: flex;
  align-items: center; /* Vertically center the content */
}

.vertical-line {
  border-left: 2px solid black; /* Adjust color, width, and style as needed */
  height: 100%; /* Adjust height as needed */
}

.circleRed {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ed0202;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circleBlue {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #1c00f0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circleBlack {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000000;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.circleClear {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d3d3d3;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

hr {
  border: none; /* Remove default border */
  height: 5px; /* Set the height of the line */
  background-color: black; /* Set the background color */
  margin: 20px 0; /* Add some margin for spacing */
}

.vertical-line {
  width: 2px; /* Set the width of the line */
  height: 200px; /* Set the height of the line */
  background-color: black; /* Set the background color */
  margin: 0 0; /* Add margin for spacing */
}

/* Adult Cirlce */
.Acircle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  rotate: 42deg;
}

.small-image {
  max-width: 100px; /* Set the maximum width of the image */
  max-height: 100px; /* Set the maximum height of the image */
}

.log {
  max-width: 50px; /* Set the maximum width of the image */
  max-height: 50px; /* Set the maximum height of the image */
}
